table{
    border: 1px solid black;
    width:60%;
    height:750px;
}
td{
    border: 1px solid grey;
    font-size: 16px;
    background-color: aliceblue;
    text-align: center;
}
td.number{
    border-radius: 50%;
    width: 60px;
}