.number-panel{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 50px;
    row-gap: 50px;
}
.top-operators{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.grid-container{
    display: grid;
    grid-template-rows: auto auto;
}
section.display-panel div{
    width: auto;
    height: 100px;
    background-color: rgb(204, 204, 210);
}
button.calc-button{
    font-size: xx-large;
    width:100px;
    height:100px;
    border-radius: 50%;
   
}
div.top-operators button{
    font-size: xx-large;
}
button.green{
    background-color: lightgreen;
}
button.blue{
    background-color:lightblue;
}
button.grey{
    background-color:whitesmoke;
}